@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: red;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

::before, ::after {
    box-sizing: border-box;
}

.main-content {
    padding-left: 270px;
}
/* 
.main-img {
    width: 400px;
    height: 241px;
} */

.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    /* position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0; */
    opacity: 1;
    padding: 0 30px;
    color: var(--text-black-900);
}

.hidden {
    display: none !important;
}

aside {
    width: 270px;
    height: 100%;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
}

aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 4px;
    background-color: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

aside .nav-toggler i {
    color: var(--skin-color);
    position: absolute;
}
aside .nav-toggler span::before {
    content: '';
}

aside ul li {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--text-black-700);
    /* display: inline-block; */
}

aside ul li a {
    color: var(--text-black-700);
}

aside ul li i {
    margin-right: 8px;
}

.active {
    border-bottom: 1px solid var(--skin-color);
}

.active a {
    color: var(--skin-color);
}
ul {
    list-style: none;
}

/* Parte del Home */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    /* background-color: red; */
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 12px solid var(--skin-color);
    border-left: 12px solid var(--skin-color);
    left: 20px;
    top: -40px;

    /* Aplicación de la animación */
    animation-name: cambioSuaveDeColor;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 12px solid var(--skin-color);
    border-right: 12px solid var(--skin-color);;
    right: 20px;
    bottom: -40px;

    /* Aplicación de la animación */
    animation-name: cambioSuaveDeColorRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.home-img img {
    height: 400px;
    width: 241px;
    object-fit: contain;
    /* height: 241px; */
    margin: auto;
    border-radius: 4px;
}

.padding-16 {
    padding: 0 16px;
}

.container {
    max-width: 1100px;
    width: 100%;
    /* background-color: red; */
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    /* background: red; */
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -16px;
    margin-right: -16px;
    position: relative;
}

h3.hello {
    font-size: 28px;
    margin: 16px 0;
}

h3.hello span {
    /* font-family: 'Clicker Script', cursive; */
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 28px;
    margin: 16px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    /* background: var(--skin-color);
    color: white; */
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
    border-radius: 12px;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn:hover {
    color: white;
    border: none;
    transform: scale(1.05);
    
    background-color: var(--text-black-700);
    /* color: var(--text-black-700); */
}

/* ABOUT  */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */

}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    /* background: red; */
    margin-top: 40px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    /* background-color: greenyellow; */
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
    /* background-color: blue; */
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 12px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.button {
    margin-top: 30px;
}

.button .btn {
    margin-right: 16px;
}

.skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */
    padding: 4px 30px;
    /* background: black; */
    border: 2px solid var(--text-black-900);
    border-radius: 12px;
    margin-bottom: 4px;
    transition: all .7s ease;
}

.skill-item:hover {
    background-color: var(--text-black-900);
    color: var(--bg-black-50);
}

.skills .skill-item h3:hover {
    color: var(--bg-black-50);
    /* -webkit-text-stroke-width: 0.0px;
    -webkit-text-stroke-color: var(--bg-black-100); */
}

.skills .skill-item h3 i:hover {
    color: var(--bg-black-50);
}

.skills .skill-item h3 {
    line-height: 40px;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-black-900);
    /* color: white; */
    text-transform: capitalize;
    display: flex;
    align-items: center;

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--bg-black-100);
}

.skills .skill-item i {
    font-size: 60px;
    margin-right: 4px;
    margin-right: -24px;
    opacity: 0.5;
    object-fit: contain;
    /* color: var(--bg-black-50); */
}

.education, .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.tittle {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.timeline-box {
    background-color: transparent;
    border: 1.5px solid var(--text-black-700);
    color: var(--text-black-700);
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.timeline-box i {
    font-size: 44px;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid var(--text-black-700);
    padding: 4px 8px;
    border-radius: 4px;
}

.timeline-box h3 {
    font-size: 18px;
}

.timeline-box h4 span {
    margin-left: 24px;
    color: var(--text-black-900);
}

.box-shadow {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* SERVICIOS  */

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    border: 2px solid black;
    padding: 12px 16px;
    border-radius: 8px;
    margin: 0 8px;
    text-align: center;
    transition: all 0.5s ease;
    
}

.service-item:hover {
    box-shadow: 0 0 24px rgba(48, 46, 77, 0.25);
}

.service-item-inner i {
    font-size: 100px;
    color: var(--text-black-700);
    /* margin-bottom: 8px; */
    margin-top: 60px;
    margin-left: -60px;
    position: absolute;
    opacity: 0.25;
}
.service-item h3 {
    border-bottom: 1.5px solid var(--bg-black-50);
}

/* PORTAFOLIO  */

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio-heading h2 {
    font-weight: 600;
}

.portfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    cursor: pointer;
}

.portfolio-item-inner {
    width: 100%;
}

.portfolio-img {
    border: 4px solid var(--bg-black-50);
    border-radius: 4px;
    flex: 0 0 33.33%;
    /* height: 300px; */
    /* max-width: 33.33%; */
    /* max-height: 100%; */
}

.portfolio-img img {
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
    display: block;
}

/* CONTACTO  */
.contact-title {
    color: var(--skin-color);
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    font-size: 16px;
    margin-bottom: 60px;
}

.contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}

.contact-info-item i {
    font-size: 24px;
    color: var(--skin-color);
}

@media (max-width: 1199px) {
    aside {
        left: -270px;
    }
    .main-content {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) {
    
    .contact .contact-info-item,
    .portfolio .portfolio-item, 
    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img {
        display: none;
    }
}

@media (max-width:720px) {
    .contact.contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@keyframes cambioSuaveDeColor {
    0% {
        border-top: 12px solid var(--text-black-900);
        border-left: 12px solid var(--text-black-900);
        transform: scale(1); /* Sin escala inicial */
    }
    50% {
        border-top: 12px solid var(--skin-color);
        border-left: 12px solid var(--skin-color); /* Azul Pizarra Medio */
        left: -8px;
        /* transform: scale(1.25); Ligeramente más grande en el medio */
    }
    100% {
        border-top: 12px solid var(--text-black-900);
    border-left: 12px solid var(--text-black-900); /* Vuelve a Tomate */
        transform: scale(1); /* Vuelve a la escala original */
    }
}

@keyframes cambioSuaveDeColorRight {
    0% {
        border-right: 12px solid var(--text-black-900);
        border-bottom: 12px solid var(--text-black-900);
        transform: scale(1); /* Sin escala inicial */
    }
    50% {
        border-right: 12px solid var(--skin-color);
        border-bottom: 12px solid var(--skin-color); /* Azul Pizarra Medio */
        right: 8px;
        /* transform: scale(1.25); Ligeramente más grande en el medio */
    }
    100% {
        border-right: 12px solid var(--text-black-900);
    border-bottom: 12px solid var(--text-black-900); /* Vuelve a Tomate */
        transform: scale(1); /* Vuelve a la escala original */
    }
}